.header {
    position: relative;
    width: 100%;
    height: 100vh; /* или любая нужная высота */
    overflow: hidden;
}

.img-header {
    width: 100%;
    height: 768px;
    object-fit: cover;
    /* Кадрирует изображение без искажений */
}

body,
html {
    margin: 0;
    padding: 0;
}

.header__content {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* вертикальное центрирование */
    align-items: center; /* горизонтальное центрирование */
    text-align: center; /* выравнивание текста внутри блока */
    color: white;
    
    
}

.text1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 5px;
    
}
.text2 {
    font-size: 16px;
    text-align: center;
}

.text3 {
    font-size: 11px;
    text-align: center;
    
}